<div class="container">
  <div class="mb-5">
    <form
      class="form-inline"
      (ngSubmit)="onSubmit()"
      #importForm="ngForm">
      <div class="form-group mr-2">
        <label for="import-file" class="sr-only">Select a bank statement</label>

        <input
          type="file"
          class="form-control"
          name="import-file"
          id="import-file"
          (change)="onChangeFile($event)"
          required>
      </div>

      <div class="form-group mr-2">
        <label for="bank-name" class="sr-only">Select a bank</label>

        <select
          class="form-control"
          name="bank-name"
          id="bank-name"
          [(ngModel)]="selectedBank"
          required>
          <option [value]="null">-- Select your bank/building society --</option>
          <option *ngFor="let bank of banks" [value]="bank.value">{{ bank.label }}</option>
        </select>
      </div>

      <input type="submit" value="Upload" class="btn btn-primary">
    </form>
  </div>
</div>
