<div class="transactions-nav py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-inline">
          <label for="transaction-period" class="mr-2">Filter by month</label>

          <select
            id="transaction-period"
            id="name"
            class="form-control"
            [(ngModel)]="selectedPeriod"
            (change)="onChangePeriod()">
            <option [ngValue]="null">All</option>
            <option *ngFor="let month of periodData" [value]="month.value">{{ month.label }}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar to toggle between list and chart view">
          <button
            type="button"
            class="btn btn-secondary btn-icon"
            *ngIf="!viewList"
            [ngClass]="{'active': viewList}"
            (click)="toggleListView($event)">
            <i class="icon icon--list"></i>
            List view
          </button>

          <button
            type="button"
            class="btn btn-secondary btn-icon"
            *ngIf="!!viewList"
            [ngClass]="{'active': !viewList}"
            (click)="toggleListView($event)">
            <i class="icon icon--chart"></i>
            Chart view
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
