<div class="transactions-nav py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="nav nav-pills" *ngIf="viewList">
          <li class="nav-item">
            <a
              href="#"
              class="nav-link"
              [ngClass]="{'active': viewCategorised}"
              (click)="toggleCategorised($event)">
              Categorised <span class="badge" [ngClass]="{ 'badge-primary': !viewCategorised, 'nav-link__badge--selected': viewCategorised }">{{ count.categorised }}</span>
            </a>
          </li>

          <li class="nav-item">
            <a
              href="#"
              class="nav-link"
              [ngClass]="{'active': !viewCategorised}"
              (click)="toggleCategorised($event)">
              Uncategorised <span class="badge" [ngClass]="{ 'badge-primary': viewCategorised, 'nav-link__badge--selected': !viewCategorised }">{{ count.uncategorised }}</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col">
        <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar to toggle between list and chart view">
          <button
            type="button"
            class="btn btn-secondary btn-icon"
            *ngIf="!viewList"
            [ngClass]="{'active': viewList}"
            (click)="toggleListView($event)">
            <i class="icon icon--list"></i>
            List view
          </button>

          <button
            type="button"
            class="btn btn-secondary btn-icon"
            *ngIf="!!viewList"
            [ngClass]="{'active': !viewList}"
            (click)="toggleListView($event)">
            <i class="icon icon--chart"></i>
            Chart view
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
