@import "../node_modules/bootstrap/scss/variables";

$fill-colors: #009688 #8BC34A #F44336 #E040FB #3F51B5 #FF5722 #FFEB3B #607D8B #CDDC39 #00BCD4
              #C2185B #4CAF50 #03A9F4;

.chart {
  padding: 0 1em;

  .chart__arc--bg {
    fill: $gray-lightest;
  }

  .chart__bg--default {
    fill: $white;
  }

  .chart__value {
    font-size: $font-size-lg;
  }

  .chart__label {
    white-space: normal;
    text-align: center;;
  }

  @each $fill-color in $fill-colors {
    $i: index($fill-colors, $fill-color);
    &:nth-of-type(#{$i}) {
      .chart__bg {
        fill: $fill-color;
        opacity: .025;
      }

      .chart__arc--fg {
        fill: $fill-color;
      }
    }
  }
}
