.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.icon--list {
  background: url('assets/svg/list.svg');
}

.icon--chart {
  background: url('assets/svg/chart.svg');
}
